body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-image: url(../images/IMG-20190404-WA0018.jpg);
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}

.card-2 {
    background-image: url(../images/FB_IMG_1554372312141.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; 
    text-align: center;
    color: white;
}

.card-3 {
    background-image: url(../images/IMG-20190404-WA0021.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    width: 100%; 
}